/* all import  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global style start here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
  background-color: honeydew;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

a {
  color: honeydew;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 65px;
  font-weight: 1000;
  text-transform: uppercase;
}

h2 {
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  font-size: 45px;
  font-weight: 850;
  text-transform: uppercase;
}

h4 {
  font-size: 35px;
  font-weight: 800;
}
h5 {
  font-size: 20px;
  font-weight: 800;
}

p {
  display: block;
  font-size: 30px;
  font-weight: 500;
  margin-top: 25px;
  text-align: justify;
}

span {
  color: rgb(86, 196, 23);
}
nbsp {
  white-space: nowrap;
}
.button {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 60px;
  background-color: rgb(226, 77, 50);
  border-radius: 12px;
  color: honeydew;
}

.button:hover {
  background-color: rgb(86, 196, 23);
  transition-duration: 500ms;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.text-div {
  flex: 60%;
}

.image-div {
  flex: 35%;
}

.one,
.two,
.three,
.four,
.five {
  margin: 20px 20px 120px;
}

/* global style end her */

/* section one start here */
/* .one {
  margin-top: 75px;
} */

.one .text-div {
  flex: 55%;
  margin-top: 150px;
}

.one .image-div {
  flex: 40%;
}

.one .text-div h1 {
  /* position: relative; */
  padding-left: 30px;
  border-left: rgb(226, 77, 50) 8px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* .one .text-div h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 125px;
  background-color: rgb(226, 77, 50);
  top: 18px;
  left: 0%;
  border-radius: 5px;
} */

/* section one end here  */

/* section two start here  */

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-section .card {
  background-color: rgb(226, 77, 50, 0.1);
  border: 1px solid rgb(86, 196, 23, 0.1);
  padding: 25px;
  border-radius: 20px;
  flex: 1 1 30%;
}

.card-section .card:hover {
  transition-duration: 500ms;
  background-color: rgb(226, 77, 50);
  color: honeydew;
}

.card-section .card p {
  font-size: 25px;
  font-weight: 500;
}

.card-section .card img {
  margin-bottom: 15px;
  width: 200px;
}

/* section two end here  */

/* section three start here  */
/* nothing to style in section three will work here if need anything */
/* section three end here  */

/* section four start here  */
/* nothing to stle in section four will work here if need anything  */
/* section four end here */

/* section five start here  */

.repo-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.repo {
  border: 1px solid rgb(86, 196, 23, 0.15);
  background-color: rgb(226, 77, 50, 0.1);
  padding: 20px;
  border-radius: 20px;
  flex: 1 1 19.4%;
}
.repo:hover {
  transition-duration: 500ms;
}
.repo-section .html:hover {
  background-color: #f06529;
  color: white;
}
.repo-section .css:hover {
  background-color: #2965f1;
  color: white;
}
.repo-section .sass:hover {
  background-color: #cc6699;
  color: white;
}
.repo-section .bootstrap:hover {
  background-color: #59287a;
  color: white;
}
.repo-section .tailwind:hover {
  background-color: #3490dc;
  color: white;
}
.repo-section .javascript:hover {
  background-color: #f0db4f;
  color: #323330;
}
.repo-section .typescript:hover {
  background-color: #3178c6;
  color: white;
}
.repo-section .react:hover {
  background-color: #61dbfb;
  color: white;
}
.repo-section .node:hover {
  background-color: #3c873a;
  color: white;
}
.repo-section .webdriver:hover {
  background-color: #f06529;
  color: white;
}
.repo img {
  width: 50px;
  margin: 0 auto;
}
.repo h5 {
  display: inline-block;
  padding-left: 10px;
}

.repo p {
  font-size: 15px;
  padding: 0 10px;
  text-align: center;
}

/* section five end here  */

/* footer start here  */

footer {
  background-color: rgb(0, 14, 14);
  color: rgb(42, 97, 10);
  text-align: center;
  padding: 50px 100px;
}

footer p {
  text-align: center;
}

/* footer end here  */
