/* all import  */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* global style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  color: darkslategray;
  background-color: honeydew;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 10%;
}
a {
  color: grey;
  text-decoration: none;
  font-size: 25px;
}
img {
  max-width: 100%;
}
h1 {
  line-height: 90px;
  font-size: 80px;
  margin-bottom: 5px;
}
h2 {
  font-size: 70px;
  text-align: center;
}
h3 {
  font-size: 60px;
}
h4 {
  font-size: 50px;
}
p {
  display: inline-block;
  font-size: 30px;
  margin: 5px 0;
}
span {
  color: deepskyblue;
}
.button {
  display: inline;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: rgb(182, 51, 28);
  color: white;
}
/* styling start here */
.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.text-div {
  width: 50%;
}
.image-div {
  width: 30%;
}

.card {
  background-color: rgb(230, 211, 103, 0.5);
}
.card-icon {
  width: 50%;
}
